:root {
  --red: #dc3545;
}

/*! --------------- 1- NAVBAR ------------------ */

/*! --------------- 2- CAROUSEL ---------------- */
.carousel-inner {
  height: 100vh;
}
.car-1 {
  background-image: url("../img/slider1.jpg");
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.car-2 {
  background-image: url("../img/slider2.jpg");
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.car-3 {
  background-image: url("../img/slider3.jpg");
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}
.carousel-caption button {
  width: 7rem;
}
.carousel-indicators {
  top: 80%;
  transform: translateY(-50%);
  bottom: initial;
}
/*! --------------- 3- ABOUT SECTION ----------- */
section#instructors .socials i {
  transition: opacity 1s;
}

section#instructors .socials i:hover {
  opacity: 0.5;
}
section#instructors .card {
  transition: transform 1s;
}

section#instructors .card:hover {
  transform: scale(1.05);
}

/*! ------------ 4- STUDENTS SECTION ----------- */

/*! ------------ 5- COURSES SECTION ------------- */
.nav-tabs {
  border: none;
}

.nav-tabs .nav-link.active {
  background-color: #bb2d3b;
  border: none;
}

.tab-content img {
  max-width: 100%;
  border: 5px solid white;
  border-radius: 5px;
}

/*! ------------ 6- CONTACT SECTION ------------ */

/*! ---------------- 7- FOOTER --------------- */
