:root {
  --red: #dc3545;
}

/*! --------------- 1- NAVBAR ------------------ */

/*! --------------- 2- CAROUSEL ---------------- */
.carousel-inner {
  height: 100vh;
}
.car-1 {
  background-image: url("../img/slider1.jpg");
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.car-2 {
  background-image: url("../img/slider2.jpg");
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.car-3 {
  background-image: url("../img/slider3.jpg");
  height: 100%;
  background-size: cover;
  background-position: center center;
}

/*! --------------- 3- ABOUT SECTION ----------- */

/*! ------------ 4- STUDENTS SECTION ----------- */

/*! ------------ 5- COURSES SECTION ------------- */

/*! ------------ 6- CONTACT SECTION ------------ */

/*! ---------------- 7- FOOTER --------------- */
